@charset "UTF-8";
#member_header{width: 100%; height: 150px;  text-align: center;}
#member_section{width: 100%; height: 500px; margin : 0px; text-align: center;}
#member_table{width : 70%;  margin : 0px; }

