@charset "UTF-8";
#member_header{width: 100%; height: 50px; text-align: center;}
#member_table{width : 80%; height: 700px; margin: 0 auto;}
#member_table tr{width : 100%; height: 50px; }
#member_table tr th{width : 100%; height: 30px; }
#member_table tr td{width : 100%; height: 30px; }